@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.Slogan-Container {
  padding: 10px 3.5em;
}

.Slogan-Text {
  display: block;
  color: #d35266;
  font-weight: bold;
  margin: 5px 0;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.Simple {
  font-size: 1.5em;
}
